.inputac{
    background-color:yellow;
    border-radius: 3px;
    border-color: white;
    height:20px;
    width:30px;

}
.inputac1{
    background-color:yellow;
    border-radius: 3px;
    border-color: white;
    height:20px;
    width:30px;

}
.inputasymbol{
    height:20px;
    width:30px;
    background-color:orange;
    border-radius: 3px;
    border-color: white;
}
.inputasymbol1{
    height:20px;
    width:30px;
    background-color:orange;
    border-radius: 3px;
    border-color: white;
}
.inputasymbol2{
    height:20px;
    width:30px;
    background-color:orange;
    border-radius: 3px;
    border-color: white;
}
.inputasymbol3{
    height:20px;
    width:30px;
    background-color:orange;
    border-radius: 3px;
    border-color: white;
}
.inputasymbol4{
    height:20px;
    width:60px;
    background-color:lightblue;

     border-color: white;
}
.btn7{
    height:20px;
    width:30px;
    

     border-color: white; 
}

.btn8{
    height:20px;
    width:30px;
    

     border-color: white; 
}
.btn9{
    height:20px;
    width:30px;
    

     border-color: white; 
}

.btn4{
    height:20px;
    width:30px;
    

     border-color: white; 
}

.btn5{
    height:20px;
    width:30px;
    

     border-color: white; 
}
.btn6{
    height:20px;
    width:30px;
    

     border-color: white; 
}
.input{
    border-radius: 3px;
    background-color:white;
    height:22px;
    width:120px;
}



